@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@300;500;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url('./62259.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container-countdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container-countdown h1{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}
.newyear{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.newyear .big-text{
    font-size: 6rem;
    line-height: 2;
    font-weight: bolder;
}
.newyear span{
    font-size: 1.5rem;
}
.count{
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}